Bill Lubanovic (2019). Introducing Python: Modern Computing in Simple Packages. Chapter 7

You've already seen Python strings, which are sequences of characters. Python has two other sequence structures: tuples and lists

# Tuples

Tuples are immutable (不可變的); when you assign elements (only once) to a tuple, they can't be changed

## Create with Commas and ( )

The syntax to make tuples is a little inconsistent. Let's begin by making any empty tuple using ( ):

In [1]:
empty_tuple = ()

In [2]:
empty_tuple

()

To make a tuple with one or more elements, followed each element with a comma.

In [3]:
one_marx = 'Groucho',

In [4]:
one_marx

('Groucho',)

You could enclose them in parentheses and still get the same tuple

In [5]:
one_marx = ('Groucho',)

In [6]:
one_marx

('Groucho',)

If you have a single thing in parentheses and omit that comma, you would not get a tuple, but just the thing

In [7]:
one_marx = ('Groucho')

In [8]:
one_marx # string, not tuple

'Groucho'

In [9]:
type(one_marx)

str

If you have more than one element, follow all but the last one with a comma. Python includes parentheses when echoing a tuple. You often don't need them when you define a tuple, but using parentheses is a little safer, and it helps to make the tuple more visibile.

In [10]:
marx_tuple = ('Groucho', 'Chico', 'Harpo')

In [11]:
marx_tuple

('Groucho', 'Chico', 'Harpo')

In [12]:
# you can create and assign a single-element tuple with just a trailing comma,
one_marx = 'Groucho',

In [13]:
type(one_marx)

tuple

In [14]:
# but you can't pass it as an argument to a function
type('Groucho', )

str

In [15]:
type(('Groucho',) )

tuple

## Tuple Unpacking

In [16]:
marx_tuple = ('Groucho', 'Chico', 'Harpo')

In [17]:
a, b, c = marx_tuple

In [18]:
a

'Groucho'

In [19]:
b

'Chico'

In [20]:
c

'Harpo'

You can use tuples to exchange values in one statement without using a temporary variable

In [21]:
password = 'swordfish'
icecream = 'tuttifrutti'

In [22]:
password, icecream = icecream, password

In [23]:
password

'tuttifrutti'

In [24]:
icecream

'swordfish'

## Create with tuple( )

In [25]:
marx_list = ['Groucho', 'Chico', 'Harpo']

In [26]:
tuple(marx_list)

('Groucho', 'Chico', 'Harpo')

## Combine Tuples by Using +

In [27]:
('Groucho',) + ('Chico', 'Harpo')

('Groucho', 'Chico', 'Harpo')

## Duplicate Items with *

In [28]:
('yada',) * 3

('yada', 'yada', 'yada')

## Compare Tuples

In [29]:
a = (7, 2)
b = (7, 2, 9)

In [30]:
a == b

False

In [31]:
a <= b

True

In [32]:
a < b

True

## Iterate with for and in

In [33]:
words = ('fresh', 'out', 'of', 'ideas')
for word in words:
    print(word)

fresh
out
of
ideas

## Modify a Tuple

You can't! Like strings, tuples are immutable, so you can't change an existing one. You can concatenate (combine) tuples to make a new one

In [34]:
t1 = ('Fee', 'Fie', 'Foe')
t2 = ('Flop',)

In [35]:
t1 + t2

('Fee', 'Fie', 'Foe', 'Flop')

In [36]:
id(t1)

4492511824

In [37]:
t1 += t2

In [38]:
t1

('Fee', 'Fie', 'Foe', 'Flop')

In [39]:
id(t1)

4492595856

# Lists

List are good for keeping track of things by their order, especially when the order and contents might change. Unlike strings, lists are mutable (可變的).

## Create with [ ]

In [40]:
empty_list = [ ]
empty_list

[]

In [41]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekdays

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [42]:
big_birds = ['emu', 'ostrich', 'cassowary']
big_birds

['emu', 'ostrich', 'cassowary']

In [43]:
# the values do noot need to be unique
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael'] 
first_names

['Graham', 'John', 'Terry', 'Terry', 'Michael']

In [44]:
leap_years = [2000, 2004, 2008]
leap_years

[2000, 2004, 2008]

In [45]:
randomness = ['Punxsatawney', {"groundhog": "Phil"}, "Feb. 2"] 
randomness

['Punxsatawney', {'groundhog': 'Phil'}, 'Feb. 2']

## Create or Convert with list( )

In [46]:
another_empty_list = list()
another_empty_list

[]

Python's list( ) function also converts other iterable data types (such as tuples, strings, sets, and dictionaries) to lists

In [47]:
list('cat')

['c', 'a', 't']

In [48]:
a_tuple = ('ready', 'fire', 'aim')
list(a_tuple)

['ready', 'fire', 'aim']

## Create from a String with split( )

In [49]:
talk_like_a_pirate_day = '9/19/2019'
talk_like_a_pirate_day.split('/')

['9', '19', '2019']

In [50]:
splitme = 'a/b//c/d///e'
splitme.split('/')

['a', 'b', '', 'c', 'd', '', '', 'e']

In [51]:
splitme = 'a/b//c/d///e'
splitme.split('//')

['a/b', 'c/d', '/e']

## Get an Item by [offset]

In [52]:
marxes = ['Groucho', 'Chico', 'Harpo']

In [53]:
marxes[0]

'Groucho'

In [54]:
marxes[1]

'Chico'

In [55]:
marxes[2]

'Harpo'

In [56]:
marxes[-1]

'Harpo'

In [57]:
marxes[-2]

'Chico'

In [58]:
marxes[-3]

'Groucho'

## Get Items with a Slice

In [59]:
marxes = ['Groucho', 'Chico', 'Harpo']

In [60]:
marxes[0:2] # a slice of a list is also a list

['Groucho', 'Chico']

In [61]:
marxes[::2]

['Groucho', 'Harpo']

In [62]:
marxes[::-2]

['Harpo', 'Groucho']

In [63]:
marxes[::-1]

['Harpo', 'Chico', 'Groucho']

In [64]:
marxes[4:]

[]

In [65]:
marxes[-6:]

['Groucho', 'Chico', 'Harpo']

In [66]:
marxes[-6:-2]

['Groucho']

In [67]:
marxes[-6:-4]

[]

## Add an Item to the End with append()

The traditional way of adding items to a list to append( ) them one by one to the end

In [68]:
marxes = ['Groucho', 'Chico', 'Harpo']

In [69]:
marxes.append('Zeppo')
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo']

## Add an Item by Offset with Insert()

The append( ) function adds items only to the end of the list. When you want to add an item before any offset in the list, use insert( )

In [70]:
marxes = ['Groucho', 'Chico', 'Harpo']

In [71]:
marxes.insert(2,'Gummo')
marxes

['Groucho', 'Chico', 'Gummo', 'Harpo']

In [72]:
marxes.insert(10, 'Zeppo')
marxes

['Groucho', 'Chico', 'Gummo', 'Harpo', 'Zeppo']

## Duplicate All Items with *

In [73]:
["blah"] * 3

['blah', 'blah', 'blah']

## Combine Lists by Using extend( ) or +

You can merge one list into another by using extend( ). Alternatively, you can use + or +=

In [74]:
marxes = ['Groucho', 'Chico', 'Harpo']
others = ['Gummo', 'Karl']
marxes.extend(others)
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Karl']

In [75]:
marxes = ['Groucho', 'Chico', 'Harpo']
others = ['Gummo', 'Karl']
marxes += others
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Karl']

If we had used append( ), others would have been added as a single list item rather than merging its items

In [76]:
marxes = ['Groucho', 'Chico', 'Harpo']
others = ['Gummo', 'Karl']
marxes.append(others)
marxes

['Groucho', 'Chico', 'Harpo', ['Gummo', 'Karl']]

## Change an Item by [offset]

In [77]:
# the list offset needs to be a valid one for this list
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[2] = 'Wanda'
marxes

['Groucho', 'Chico', 'Wanda']

## Change Items with a Slice

You can also assign values to a sublist with a slice

In [78]:
numbers = [1, 2, 3, 4]
numbers[1:3] = [8, 9]
numbers

[1, 8, 9, 4]

The righthand thing that you're assigning to the list doesn't even need to have the same number of elements as the slice on the left

In [79]:
numbers = [1, 2, 3, 4]
numbers[1:3] = [7, 8, 9]
numbers

[1, 7, 8, 9, 4]

In [80]:
numbers = [1, 2, 3, 4]
numbers[1:3] = []
numbers

[1, 4]

The righthand thing doesn't even need to be a list. Any Python iterable will do, separating its items and assigning them to list elements

In [81]:
numbers = [1, 2, 3, 4]
numbers[1:3] = (98, 99, 100)
numbers

[1, 98, 99, 100, 4]

In [82]:
numbers = [1, 2, 3, 4]
numbers[1:3] = 'wat?'
numbers

[1, 'w', 'a', 't', '?', 4]

## Delete an Item by Offset with del

When you delete an item by its position in the list, the items that follow it move back to take the deleted item's space, and the list's length decreases by one.

In [83]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Karl']
marxes[-1]

'Karl'

In [84]:
# del is a Python statement, not a list method -- can't use marxes[-1].del()
del marxes[-1]

In [85]:
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo']

In [86]:
del marxes[1]

In [87]:
marxes

['Groucho', 'Harpo', 'Gummo']

## Delete an Item by Value with remove( )

If you're not sure or don't care where the items is in the list, use remove( ) to delete it by value

In [88]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes.remove('Groucho')
marxes

['Chico', 'Harpo']

## Get an Item by Offset and Delete it with pop( )

You can get an item from a list and delete it from the list at the same time by using pop( ).

If you call pop( ) with an offset, it will return the item at that offset; with no argument, it uses -1. So pop(0) returns the head (start) of the list, and pop( ) or pop(-1) returns the tail (end).

In [89]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.pop()

'Zeppo'

In [90]:
marxes

['Groucho', 'Chico', 'Harpo']

In [91]:
marxes.pop(1)

'Chico'

In [92]:
marxes

['Groucho', 'Harpo']

Notes: If you use append( ) to add new items to the end and pop( ) to remove them from the same end, you've implemented a data structure known as a LIFO (last in first out) queue. This is more commonly known as a stack. pop(0) would create a FIFO (first in, first out) queue.

## Delete All items with clear( )

In [93]:
work_quotes = ['Working hard?', 'Quick question!', 'Number one priorities!']

In [94]:
work_quotes

['Working hard?', 'Quick question!', 'Number one priorities!']

In [95]:
work_quotes.clear()

In [96]:
work_quotes

[]

## Find an items's offset by Value with index( )

In [97]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.index('Chico')

1

If the value is in the list more than once, only the offset of the first one is required

In [98]:
simpsons = ['Lisa', 'Bart', 'Marge', 'Homer', 'Bart']
simpsons.index('Bart')

1

## Test for a Value with in

The Pythonic way to check for the existence of a value in a list is using in

In [99]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
'Groucho' in marxes

True

In [100]:
'Bob' in marxes

False

In [101]:
words = ['a', 'deer', 'a', 'female', 'deer']
'deer' in words

True

## Count Occurences of a Value with Count( )

In [102]:
marxes = ['Groucho', 'Chico', 'Harpo']

In [103]:
marxes.count('Harpo')

1

In [104]:
marxes.count('Bob')

0

In [105]:
snl_skit = ['cheeseburger', 'cheeseburger', 'cheeseburger']

In [106]:
snl_skit.count('cheeseburger')

3

## Convert a List to a String with join( )

The argument to join( ) is a string or any iterable sequence of strings (including a list), and its output is a string.

In [107]:
marxes = ['Groucho', 'Chico', 'Harpo']

In [108]:
', '.join(marxes)

'Groucho, Chico, Harpo'

In [109]:
friends = ['Harry', 'Hermione', 'Ron']
separator = ' * '

In [110]:
joined = separator.join(friends)
joined

'Harry * Hermione * Ron'

In [111]:
separated = joined.split(separator)
separated

['Harry', 'Hermione', 'Ron']

In [112]:
separated == friends

True

## Reorder Items with sort( ) or sorted( )

You'll often need to sort the items in a list by their values rather than their offsets. Python provides two functions:
* The list method sort( ) sorts the list itself, in place
* The general function sorted( ) returns a sorted copy of the list

If the items in the list are numeric, they're sorted by default in ascending numeric order. If they're strings, they're sorted in alphabetical order

In [113]:
marxes = ['Groucho', 'Chico', 'Harpo']
sorted_marxes = sorted(marxes)

In [114]:
sorted_marxes

['Chico', 'Groucho', 'Harpo']

In [115]:
marxes

['Groucho', 'Chico', 'Harpo']

In [116]:
marxes.sort()

In [117]:
marxes

['Chico', 'Groucho', 'Harpo']

In [118]:
numbers = [2, 1, 4.0, 3]
numbers.sort()

In [119]:
numbers

[1, 2, 3, 4.0]

The default sort order is ascending, but you can add the argument reverse=True to set it to descending

In [120]:
numbers = [2, 1, 4.0, 3]
numbers.sort(reverse=True)

In [121]:
numbers

[4.0, 3, 2, 1]

## Get Length with len( )

In [122]:
marxes = ['Groucho', 'Chico', 'Harpo']
len(marxes)

3

## Assign with =

When you assign one list to more than one variable, changing the list in one place also changes it in the other

In [123]:
a = [1, 2, 3]
a

[1, 2, 3]

In [124]:
b = a
b

[1, 2, 3]

In [125]:
a[0] = 'surprise'
a

['surprise', 2, 3]

In [126]:
b

['surprise', 2, 3]

In [127]:
b[0] = 'I hate surprise'
b

['I hate surprise', 2, 3]

In [128]:
a

['I hate surprise', 2, 3]

## Copy with copy( ), list( ), or a Slice

You can copy the values of a list to an independent, fresh list by using any of these methods
* The list copy( ) method
* The list( ) conversion function
* The list slice [ : ]

In [129]:
a = [1, 2, 3]

In [130]:
b = a.copy()

In [131]:
c = list(a)

In [132]:
d = a[:]

In [133]:
a[0] = 'integer lists are boring'

In [134]:
a

['integer lists are boring', 2, 3]

In [135]:
b

[1, 2, 3]

In [136]:
c

[1, 2, 3]

In [137]:
d

[1, 2, 3]

## Copy Everything with deepcopy( )

The copy function works well if the list values are all immutable. As you're seen before, mutable values (like lists or dicts) are references. A change in the original or the copy would be reflected in both.

In [138]:
a = [1, 2, [8, 9]]
a

[1, 2, [8, 9]]

In [139]:
b = a.copy()
b

[1, 2, [8, 9]]

In [140]:
c = list(a)
c

[1, 2, [8, 9]]

In [141]:
d = a[:]
d

[1, 2, [8, 9]]

In [142]:
a[2][1] = 10

In [143]:
a

[1, 2, [8, 10]]

In [144]:
b

[1, 2, [8, 10]]

In [145]:
c

[1, 2, [8, 10]]

In [146]:
d

[1, 2, [8, 10]]

All the list-copying methods we used were shallow (not a value judgment, just a depth one). To fix this, we need to use the deepcopy( ) function. deepcopy( ) can handle deeply nested lists, dictionaries, and other objects

In [147]:
import copy
a = [1, 2, [8, 9]]

In [148]:
b = copy.deepcopy(a)

In [149]:
a

[1, 2, [8, 9]]

In [150]:
b

[1, 2, [8, 9]]

In [151]:
a[2][1] = 10

In [152]:
a

[1, 2, [8, 10]]

In [153]:
b

[1, 2, [8, 9]]

## Compare Lists

The operators walk through both lists, comparing elements at the same offsets. If list a is shorter than list b, and all of its elements are equal, a is less than b

In [154]:
a = [7, 2]
b = [7, 2, 9]

In [155]:
a == b

False

In [156]:
a <= b

True

In [157]:
a < b

True

## Iterate with for and in

In [158]:
cheeses = ['brie', 'gjetost', 'havarti']

In [159]:
for cheese in cheeses:
    print(cheese)

brie
gjetost
havarti

In [160]:
cheeses = ['brie', 'gjetost', 'havarti']
for cheese in cheeses:
    if cheese.startswith('g'):
        print("I won't eat anything that starts with 'g'")
        break
    else: 
        print(cheese)

brie
I won't eat anything that starts with 'g'

In [161]:
cheeses = ['brie', 'gjetost', 'havarti']
for cheese in cheeses:
    if cheese.startswith('x'):
        print("I won't eat anything that starts with 'x'")
        break
    else: 
        print(cheese)
else:
    print("Didn't find anything that started with 'x'")

brie
gjetost
havarti
Didn't find anything that started with 'x'

In [162]:
cheeses = []
for cheese in cheeses:
    print('This shop has some lovely', cheese)
    break
else: # no break means no cheese
    print('This is not much of a cheese shop, is it?')

This is not much of a cheese shop, is it?

## Iterate Multiple Sequences with zip( )

Iterating over multiple sequences in parallel by using the zip( ) function

In [163]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

In [164]:
# zip( ) stops when the shortest sequence is done
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
    print(day, ": drink", drink, "- eat", fruit, "-enjoy", dessert)

Monday : drink coffee - eat banana -enjoy tiramisu
Tuesday : drink tea - eat orange -enjoy ice cream
Wednesday : drink beer - eat peach -enjoy pie

Use zip( ) to pair these tuples. The value returned by zip( ) is itself not a tuple or list, but an iterable value that can be turned into one

In [165]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'

In [166]:
zip(english, french)

In [167]:
list(zip(english, french))

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

In [168]:
dict(zip(english, french))

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

## Create a List with a Comprehension

You saw how to create a list with square brackets or the list( ) function

In [169]:
number_list = [ ]
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)
number_list

[1, 2, 3, 4, 5]

You could also use an iteraor and the range function

In [170]:
number_list = [ ]
for number in range(1, 6):
    number_list.append(number)
number_list

[1, 2, 3, 4, 5]

In [171]:
number_list = list(range(1, 6))
number_list

[1, 2, 3, 4, 5]

However, a more Pythonic (and often faster) way to build a list is by using a list comprehension. The simplest form of list comprehension looks like this:

[expression for item in iterable]

In [172]:
number_list = [number for number in range(1, 6)]
number_list

[1, 2, 3, 4, 5]

In [173]:
number_list = [number-1 for number in range(1, 6)]
number_list

[0, 1, 2, 3, 4]

The list comprehension move the loop inside the square brackets. A list comprehension can include a conditional expression, looking something like this:

[expression for item in iterable if condition]

In [174]:
#%timeit 
number_list = [number for number in range(1, 6) if number % 2 == 1]
number_list

[1, 3, 5]

In [175]:
#%%timeit
a_list = []
for number in range(1, 6):
    if number % 2 == 1:
        a_list.append(number)
a_list

[1, 3, 5]

There can be nested loops, there can be more than one set of for ... clauses in the corresponding comprehensions

In [176]:
rows = range(1, 4)
cols = range(1, 3)
for row in rows:
    for col in cols:
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [177]:
# use a comprehension and assign it to the variable cells, 
# making it a list of (row, col) tuples
rows = range(1, 4)
cols = range(1, 3)
cells = [(row, col) for row in rows for col in cols]
# tuple unpacking
for row, col in cells: 
    print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

## Lists of Lists

Lists can contain elements of different types

In [178]:
small_birds = ['hummingbird', 'finch']
extinct_birds = ['dodo', 'passenger pigeon', 'Norwegian Blue']
carol_birds = [3, 'French hens', 2, 'turtledoves']
all_birds = [small_birds, extinct_birds, 'macaw', carol_birds]

In [179]:
all_birds

[['hummingbird', 'finch'],
 ['dodo', 'passenger pigeon', 'Norwegian Blue'],
 'macaw',
 [3, 'French hens', 2, 'turtledoves']]

In [180]:
all_birds[0]

['hummingbird', 'finch']

In [181]:
all_birds[1]

['dodo', 'passenger pigeon', 'Norwegian Blue']

In [182]:
all_birds[1][0]

'dodo'

## Tuples Versus Lists

You can often use tuples in place of lists -- but they have many fewer functions -- there is no append( ), insert( ) and so on -- because they can't be modified after creation

Why not just use lists instead of tuples everywhere?
* Tuples use less space.
* You can't clobber tuple items by mistake
* You can use tuples as dictionary keys
* Named tuples can be a simple alternative to objects

## There Are NO Tuple Comprehensions

Mutable types (lists, dictionaries, and sets) have comprehensions. Immutable types like strings and tuples need to be created with the other methods

In [183]:
number_thing = (number for number in range(1, 6))
number_thing

The thing between the parentheses is something else entirely: a generator comprehension, and it returns a generator object

In [184]:
type(number_thing)

generator