Bill Lubanovic (2019). Introducing Python: Modern Computing in Simple Packages. Chapter 3

# Numbers

We begin by looking at Python's simplest built-in data types:
* Booleans (which have value True or False)
* Integers (whole numbers such as 42 and 10000000)
* Floats (numbers with decimal points such as 3.14159 and 10000000.0)

## Booleans

In Python, the only values for the boolean data type are True or False

The special Python function bool( ) can convert any Python data type to a boolean

Nonzero numbers are considered True:

In [1]:
bool(True)

True

In [2]:
bool(1)

True

In [3]:
bool(45)

True

In [4]:
bool(-45)

True

And zero-valued ones are considered False:

In [5]:
bool(False)

False

In [6]:
bool(0)

False

In [7]:
bool(0.0)

False

## Integers

Any sequence of digits in Python represents a literal integer

In [8]:
5

5

In [9]:
# a plain zero is valid
0

0

In [10]:
05

SyntaxError: invalid token (<ipython-input-10-65e6e002a62d>, line 1)

In [11]:
123

123

In [12]:
+123

123

In [13]:
-123

-123

In [14]:
# you can't have any commas in the integer 
1,000,000 #tuple

(1, 0, 0)

In [15]:
# but you can use the underscore (_) character as a digit separator 
million = 1_000_000
million

1000000

In [16]:
# you can put underscores anywhere after the first digit; they just ignored
1_2_3

123

## Integer Operations

In [17]:
# + addition
5 + 9

14

In [18]:
# - subtraction
100 - 7

93

In [19]:
5 + 9 + 3

17

In [20]:
4 + 3 - 2 -1 +6

10

In [21]:
5+9     +   3

17

In [22]:
# * multiplication

In [23]:
6 * 7

42

In [24]:
6 * 7 * 2 * 3

252

In [25]:
# / carries out floating-point (decimal) division
9 / 5

1.8

In [26]:
# // performs integer (truncating) division
9 // 5

1

In [27]:
5 / 0

ZeroDivisionError: division by zero

In [28]:
5 // 0

ZeroDivisionError: integer division or modulo by zero

## Integers and Variables

In [29]:
a = 95
a

95

In [30]:
a - 3

92

In [31]:
a

95

In [32]:
a = a -3
a

92

In [33]:
a = 95
a -= 3 
a

92

In [34]:
a = 92
a += 8
a

100

In [35]:
a = 100
a *= 2 
a

200

In [36]:
a = 200
a /= 3
a

66.66666666666667

In [37]:
a = 13
a //= 4
a

3

The % character has multiple uses in Python. When it's between two numbers, it produces the remainder when the first number is divided by the second.

In [38]:
9 % 5

4

Here's how to get both the (truncated) quotient and remainder at once

In [39]:
divmod(9, 5)

(1, 4)

In [40]:
9 // 5

1

In [41]:
9 % 5

4

One last math feature is exponentation with **, which also lets you mix integers and floats

In [42]:
2 ** 3

8

In [43]:
2.0 ** 3

8.0

In [44]:
2 ** 3.0

8.0

In [45]:
0 ** 3

0

## Precedence

In [46]:
2 + 3 * 4

14

In [47]:
2 + (3 * 4)

14

In [48]:
-5 ** 2

-25

In [49]:
(-5) ** 2

25

## Bases

* 0b or 0B for binary (base 2)
* 0o or 0O for octal (base 8)
* 0x or 0X for hex (base 16)

In [50]:
10

10

In [51]:
0b10

2

In [52]:
0o10

8

In [53]:
0x10

16

In [54]:
value = 65
bin(value)

'0b1000001'

In [55]:
oct(value)

'0o101'

In [56]:
hex(value)

'0x41'

The char( ) function converts an integer to its single-character string equivalent

In [57]:
chr(65)

'A'

And ord( ) goes the other way

In [58]:
ord('A')

65

## Type Conversions

To change other Python daat types to an integer, use the int( ) function

In [59]:
int(True)

1

In [60]:
int(False)

0

In [61]:
bool(1)

True

In [62]:
bool(0)

False

Converting a floating-point number to an integer just loops off everything after the decimal point

In [63]:
int(98.6)

98

In [64]:
int(1.0e4)

10000

In [65]:
bool(1.0)

True

In [66]:
bool(0.0)

False

Getting the integer value from a text string that contains only digits, possibly with _digit separators or an initial + or - sign

In [67]:
int('99')

99

In [68]:
int('-23')

-23

In [69]:
int('+12')

12

In [70]:
int('1_000_000')

1000000

If the string represents a nondecimal integer, you can include the base

In [71]:
int('10', 2) # binary

2

In [72]:
int('10', 8) # octal

8

In [73]:
int('10', 16) # hexadecimal

16

If you try to convert something that doesn't look like a number, you'll get an exception

In [74]:
int('99 bottles of bear on the wall')

ValueError: invalid literal for int() with base 10: '99 bottles of bear on the wall'

In [75]:
int('')

ValueError: invalid literal for int() with base 10: ''

In [76]:
int('98.6')

ValueError: invalid literal for int() with base 10: '98.6'

In [77]:
int('1.0e4')

ValueError: invalid literal for int() with base 10: '1.0e4'

If you mix numeric types, Python will sometimes try to automatically convert them for you

In [78]:
4 + 7.0

11.0

In [79]:
True + 2

3

In [80]:
False + 5.0

5.0

## How Big is an int?

In Python 3, the long type is long gone, and an int can be any size -- even greater than 64 bits

In [81]:
googl = 10 ** 100

In [82]:
googl

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [83]:
googl * googl

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

## Floats

Integers are whole numbers, but floating-point numbers (called floats in Python) have decimal points

In [84]:
5.

5.0

In [85]:
5.0

5.0

In [86]:
05.0

5.0

Floats can include a decimal integer exponent after the letter e

In [87]:
5e0

5.0

In [88]:
5e1

50.0

In [89]:
5.0e1

50.0

You can use underscore (_) to separate digits for clarity

In [90]:
million = 1_000_000.0

In [91]:
million

1000000.0

In [92]:
1.0_0_1

1.001

To convert other types to floats, you use the float( ) function

In [93]:
float(True)

1.0

In [94]:
float(False)

0.0

In [95]:
float(98)

98.0

In [96]:
float('99')

99.0

In [97]:
float('98.6')

98.6

In [98]:
float('-1.5')

-1.5

In [99]:
float('1.0e4')

10000.0

When you mix integers and floats, Python automatically promotes the integer values to float values

In [100]:
43 + 2.

45.0

In [101]:
False + 0.

0.0

In [102]:
True + 0.

1.0